FHIR_ROOT=`pwd`
#TODO use postgresql convention
PGDATABASE=fhir_demo
PGUSER=vasiliy
PGPASSWORD=pupkin
PGPORT=5432
NGXPORT=8888
NGXUSER=ubuntu
FHIRBASE_URL='https://raw.github.com/fhirbase/fhirbase/master/fhirbase.sql'
