<form>
  <div
    ui-ace="{mode: 'sql', useWrapMode: true}"
    ng-model='query'></div>
  <p class='alert alert-danger' ng-if='response.error'>{{ response.error}}</p>
  <p class='alert alert-success' ng-if='response.length > 0'>
    Congratulations! Please, go to the next step.
  </p>
  <h4>Result</h4>
  <pre ng-show='showResult && !response.error'>{{response | compact | json }}</pre>
  <button ng-click="execute()" class="btn btn-success">Execute</button>
  <a 
    class="btn btn-primary" 
    ng-href="{{nextStepUrl}}"
    ng-disabled='!response || response.length == 0 || response.error'>{{nextStepName}}</a>
</form>

