<form>
  <div
    ui-ace="{mode: 'sql', useWrapMode: true}"
    ng-model='query'></div>
  <p class='alert alert-danger' ng-if='response.error'>{{ response.error}}</p>
  <p class='alert alert-success' ng-if='isValid()'>
    Congratulations! Please, go to the next step.
  </p>
  <div ng-show='showResult && !response.error'>
    <h4>Result</h4>
    <pre>{{response | compact | json }}</pre>
  </div>
  <button ng-click="execute()" class="btn btn-success">Execute</button>
  <a href="{{nextStepUrl}}"
     ng-disabled='!isValid()'
     go-to-next-step>{{nextStepName}}</a>
</form>

