<div>
  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>FHIRBASE</h1>
    <p class="lead">This is demonstration of FHIRBASE toolkit. Fast Health development api</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row" ng-controller="IndexCtrl">
    <div ng-repeat="item in items" class="col-lg-4">
      <h2>{{item.title}}</h2>
      <p >{{item.text}}</p>
      <p><a class="btn btn-primary" href="#/resources/{{item.title}}.html" role="button">More...</a></p>
    </div>
  </div>
</div>
