<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <h1>FHIRbase <sup>Live Demo</sup> </h1>
        <h3> Relational storage for FHIR with documented API</h3>
      </div>
      <div class="col-xs-4 buttons">
        <h1>
          <a href="https://github.com/fhirgbase/fhirbase"
            class="btn btn-default btn-lg">
            <big class="fa fa-github"></big> Source Code
          </a>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>Database Schema</h2>
      It’s best to start with <a href="#/schema.html"><strong>Database Schema</strong></a> page.
      Here you can get better understanding on how FHIR resources are stored in a relational database.
    </div>
    <div class="col-xs-4">
      <h2>Resource Data</h2>
      Then continue on <a href="#/resources.html"><strong>Resource Data</strong></a> page where you can upload different
      FHIR resources into a demo database.
    </div>
    <div class="col-xs-4">
      <h2>Queries</h2>
      At last, visit <a href="#/queries.html"><strong>Queries</strong></a> page and learn how you can access these resources.
      Here you can get some practice in preparing and executing arbitrary queries on a demo database.
    </div>
  </div>
</div>
