<div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="query in queries">
                  <a ng-click="set_query(query.query)">{{query.query}}</a>
                </li>
        </ul>
</div>
<textarea ng-model="query" cols="100" rows="10"/>
<div>
        <button ng-click="execute_query()">Execute Query</button>
</div>
<pre>{{query}}</pre>
<pre>{{query_items | json}}</pre>
</div>
<div>
  <input ng-model='tableFilter'>
  <div ng-repeat="table in tables | filter:tableFilter">
    {{ table.table_name }}
  </div>
</div>
