<div class="small-jumbotron">
  <div class="container">
    <div class="row">
      <div class='col-sm-9'>
        At this page you can prepare and execute arbitrary queries on a demo database.
      </div>
      <div class='col-sm-3'>
         Saved queries <span style="color: greenyellow;">&#8628;</span>
      </div>
    </div>
  </div>
</div>
<br/>

<div class="container">
  <div class='row'>
    <div class='col-sm-9'>
      <h3>
        {{ query.name }}
        <button class='btn btn-primary' ng-click="executeQuery()">Execute</button>
        <button class='btn btn-primary' ng-click="saveAs()">Save as</button>
      </h3>
      <div style='min-height: 100px;' ui-codemirror="{mode: 'text/x-plsql', lineWrapping: true, lineNumbers: true}" ng-model='query.query'>
      </div>
      <div ng-show='result'>
        <h4>Result</h4>
        <pre highlight='{{result}}'></pre>
      </div>
    </div>
    <div class='col-sm-3'>
      <div class="well">
        <input class="form-control" ng-model="search.name" placeholder="Search"/>
        <hr/>
        <div ng-repeat="query in queries | filter:search">
          <a href="javascript:void(0)" ng-click="show(query)"> {{query.name}} </a>
        </div>
      </div>
    </div>
  </div>
</div>
