<div ng-hide='flags.upload'>
  <div class="small-jumbotron">
    <div class="container">
      <div class="row">
        <div class='col-sm-9'>
          Here you can store FHIR resources into a demo database
          and see how it was saved in relations.
        </div>
        <div class='col-sm-3'>
           Saved resources <span style="color: greenyellow;">&#8628;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-include="'/views/_resources.html'"></div>
</div>
<div ng-show='flags.upload'>
  <div class="small-jumbotron">
    <div class="container">
      <div class="row">
        <div class='col-sm-9'>
          Select resource from examples or insert your json into textarea.
        </div>
        <div class='col-sm-3'>
          Select from examples <span style="color: greenyellow;">&#8628;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container" ng-include="'/views/_upload.html'"> </div>
</div>
