<div>
        <h1 class="page-header"> {{resource_name}}: {{ resource_id }} </h1>
</div>
<textarea ng-model="query" cols="100" rows="10">SELECT * FROM fhir.view_{{resource_name}} WHERE id = '{{resource_id}}'</textarea>
<div>
        <button ng-click="execute_query()">Execute Query</button>
</div>
<pre>{{query}}</pre>
<pre>{{query_items | json}}</pre>
<div ng-repeat="item in items" class="alert alert-error">
        <table class='table table-bordered'>
                <caption class="alert-success" style='padding: 5px 0; font-weight: bold; font-size: 150%;'>{{item.table_name}}</caption>
                <thead>
                        <tr>
                        <th ng-repeat="head in item.headers">
                                {{head}}
                        </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in item.data">
                <td ng-repeat="head in item.headers">
                        {{row[head]}}
                </td>
                </tr>
                </tbody>
        </table>
</div>
