<div class="small-jumbotron">
  <div class="container">
    <div class="row">
      <div class='col-sm-9'>
        Here you can learn how FHIR resources are
        stored in relational fhirbase.
      </div>
      <div class='col-sm-3'>
        Select Resource <span style="color: greenyellow;">&#8628;</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class='col-sm-9'>
      <h3> {{ resourceTitle }} </h3>
      <hr/>
      <p>
      Each resource saved as root entity table and table per component.  For resource attributes with
      compound type we create separate tables (for the sake of separation of storage and consistency).
      Postgresql with default configuration limits length of table names. We didn't want to rebuild postgresql so
      we shortened table names using the following <a href="#/abbreviations">abbreviations table</a>.
      Read more about architecture in <a href="https://github.com/fhirbase/fhirbase#schema-overview">README</a>.
      </p>

      <h3 loading-spinner='loadingDetails'></h3>

      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Table name</th>
          <th>Resource component</th>
        </tr>
        </thead>
        <tr ng-repeat="item in details">
          <td>
            <a href="javascript:void(0)" ng-click="locateTable(item.table_name)">
              {{item.table_name}}
            </a>
          </td>
          <td>
            <span class="text-muted">{{ item.path | parents }}</span><b>{{item.path[item.path.length - 1]}}</b>
          </td>
        </tr>
      </table>

      <hr/>

      <div id="{{item.table_name}}"
        ng-repeat="item in details">
        <h3>
          <a ng-click="locateTop()" class="btn btn-default"> <big class="fa fa-arrow-up"></big>Up</a>
          {{item.table_name}}
        </h3>
        <table class='table table-bordered table-condensed' style="width: auto;">
          <tr ng-repeat="column in item.columns">
            <td class="{{columnClass(column.column_name)}}">
              {{column.column_name}}
            </td>
            <td class="{{columnClass(column.column_name)}}">
              {{column.data_type}}
            </td>
          </tr>
        </table>
        <hr/>
      </div>
    </div>
    <div class='col-sm-3'>
      <br/>
      <div class="well">
        <input class="form-control" ng-model="search.title" placeholder="Search"/>
        <h3 loading-spinner='listLoading'></h3>
        <div ng-repeat="item in items | filter:search">
          <a href="#/schema/{{item.title}}"
            role="button">{{item.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
