<div class='row' ng-controller='ResourceInsertCtrl'>
  <div class='col-sm-2' ng-include='"views/guide/menu.html"'></div>
  <div class='col-sm-10'>
    <h3>Добавление</h3>
    <ul>
      <li>Особенности процеса добавления</li>
      <li>Возможность добавить пацента вручную</li>
    </ul>
    <p>
      Попробуем создать пациента. Для этого необходимо його представление в 
      json и отправить на сервер. (Нужно добавить выполнение sql запросов.)
    </p>
    <form>
      <div
        ui-ace="{mode: 'sql', useWrapMode: true}"
        ng-model='query'></div>
      <p class='alert alert-danger' ng-if='response.error'>{{ response.error}}</p>
      <p class='alert alert-success' ng-if='response && !response.error'>
        Your patient was successfully saved. Please, go to the next step.
      </p>
      <button ng-click="save()" class="btn btn-success">Save</button>
      <a 
        class="btn btn-primary" 
        href="#guide/select.html"
        ng-disabled='!response || response.error'>Выбрать пациента</a>
    </form>
  </div>
</div>
