<div class='row' ng-controller='ResourceInsertCtrl'>
  <div class='col-sm-2' ng-include='"views/guide/menu.html"'></div>
  <div class='col-sm-10'>
    <h3>Добавление</h3>
    <ul>
      <li>Особенности процеса добавления</li>
      <li>Возможность добавить пацента вручную</li>
    </ul>
    <p>
      Попробуем создать пациента. Для этого необходимо його представление в 
      json и отправить на сервер.
    </p>
    <step first='true' query='{{query}}' next-step-url='#guide/select.html' next-step-name='Выбрать пациента'></step>
  </div>
</div>
