<ul class="nav nav-stacked nav-pills">
    <li><a href="#guide/about.html">Что это такое?</a></li>
  <li><a href="#guide/struct.html">Структура</a></li>
  <li><a href="#guide/patient.html">Пациент</a></li>
  <li><a href="#guide/insert.html">Добавление</a></li>
  <li><a href="#guide/select.html">Выборка</a></li>
  <li><a href="#guide/relation.html">Связи ресурсов</a></li>
  <li><a href="#guide/update.html">Редактирование</a></li>
  <li><a href="#guide/delete.html">Удаление</a></li>
  <li><a href="#demo/before.html">Полное демо</a></li>
</ul>
