<div class='row'>
  <div class='col-sm-2' ng-include='"views/guide/menu.html"'></div>
  <div class='col-sm-10'>
    <h3>Выборка пациента</h3>
    <ul>
      <li>Особенности процеса выборки</li>
      <li>Возможность выбрать пацента вручную</li>
    </ul>
    <form ng-controller='ResourceSelectCtrl'>
      <div
        ui-ace="{mode: 'sql', useWrapMode: true}"
        ng-model='query'></div>
      <p class='alert alert-danger' ng-if='response.error'>{{ response.error}}</p>
      <p class='alert alert-success' ng-if='response.length > 0'>
        Congratulations! Please, go to the next step.
      </p>
      <h4>Result</h4>
      <pre ng-hide='response.error'>{{response | json }}</pre>
      <button ng-click="select()" class="btn btn-success">Select</button>
      <a 
        class="btn btn-primary" 
        href="#guide/update.html"
        ng-disabled='!response || response.length == 0 || response.error'>Редактирование</a>
    </form>
  </div>
</div>
