<div class="jumbotron well">
  <h1>Welcome to FHIR base demo!</h1>
  <p>
  You start with <strong>Database Schema</strong>.
  Here you can better understand how FHIR resources are stored in relational database.
  Then at <strong>Resources</strong> page you can upload different FHIR resources to demo database.
  After that visit <strong>Queries</strong> and learn how you can access this resources.
  </p>
  <p><a href="#demo/schema.html" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
