<div class="jumbotron well">
  <h1>Getting started with FHIRbase</h1>
  <h2>Database Schema</h2>
  It’s best to start with <a href="#demo/schema.html"><strong>Database Schema</strong></a> page. Here you can get better understanding on how FHIR resources are stored in a relational database.
  <h2>Resource Data</h2>
  Then continue on <a href="#/demo/resources.html"><strong>Resource Data</strong></a> page where you can upload different FHIR resources into a demo database.
  <h2>Queries</h2>
  At last, visit <a href="#/demo/queries.html"><strong>Queries</strong></a> page and learn how you can access these resources. Here you can get some practice in preparing and executing arbitrary queries on a demo database.
</div>
