<div>
  <h1>Getting started with FHIRbase</h1>
  <h2>Database Schema</h2>
  It’s best to start with <a href="#demo/schema.html"><strong>Database Schema</strong></a> page. Here you can get better understanding on how FHIR resources are stored in a relational database.
  <h2>Resource Data</h2>
  Then continue on <a href="#/demo/resources.html"><strong>Resource Data</strong></a> page where you can upload different FHIR resources into a demo database.
  <h2>Queries</h2>
  At last, visit <a href="#/demo/queries.html"><strong>Queries</strong></a> page and learn how you can access these resources. Here you can get some practice in preparing and executing arbitrary queries on a demo database.
</div>
<div class="jumbotron well">
  <h1>Welcome to FHIR base demo!</h1>
  <p>
  You start with <strong>Database Schema</strong>.
  Here you can better understand how FHIR resources are stored in relational database.
  Then at <strong>Resources</strong> page you can upload different FHIR resources to demo database.
  After that visit <strong>Queries</strong> and learn how you can access this resources.
  </p>
  <p><a href="#demo/schema.html" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
