<div class='row'>
  <div class="col-md-4">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="query in queries">
      <a ng-click="set_query(query.query)">{{query.query}}</a>
      </li>
    </ul>
  </div>
  <div class='col-md-8'>
    <textarea ng-model="query" cols="100" rows="10"></textarea>
    <br />
    <button class='btn btn-primary' ng-click="execute_query()">Execute Query</button>
    <pre>{{query_items | json}}</pre>
    <!--
  <div>
    <input ng-model='tableFilter'>
    <div ng-repeat="table in tables | filter:tableFilter">
      {{ table.table_name }}
    </div>
  </div>
-->
  </div>
</div>
