<div class='row'>
  <div class='col-sm-3'>
    <h2 class="page-header">
      <input class="form-control" ng-model="search.name" placeholder="search"/>
    </h2>
  </div>
  <div class='col-sm-9'>
    <h2 class="page-header"> 
      <button class='btn btn-primary' ng-click="executeQuery()">Execute</button>
      <button class='btn btn-primary' ng-click="saveAs()">Save as</button>
      {{ query.name }} 
    </h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-3'>
    <div ng-repeat="query in queries | filter:search">
      <a href="javascript:void(0)" 
        ng-click="show(query)"
        role="button">{{query.name}}</a>
    </div>
  </div>
  <div class='col-sm-9'>
    <div style='height: 100%' ui-codemirror="{mode: 'text/x-plsql', lineWrapping: true, lineNumbers: true}" ng-model='query.query'></div>
    <div ng-show='result'>
      <h4>Result</h4>
      <pre highlight='{{result}}'></pre>
    </div>
  </div>
</div>
