<div ng-hide='upload'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2 class="page-header">
        <input class="form-control" ng-model="search.resourceType" placeholder="search"/>
      </h2>
    </div>
    <div class='col-sm-9'>
      <h2 class="page-header"> {{ resource.resourceType }}
        ({{resource.id}})
        <a ng-click="delete_resource(resource)" class="btn btn-danger">
          Delete
        </a>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-3'>
      <a class="btn btn-success" ng-click='upload = true'>
        Upload
      </a>
      <hr />
      <div ng-repeat="item in items | filter:search">
        <a href="javascript:void(0)" 
          ng-click="show(item)"
          role="button">{{item.resourceType}}</a>
      </div>
    </div>
    <div class='col-sm-9'>
      <ol>
        <li ng-repeat="item in details">
        {{item.table_name}}
        </li>
      </ol>

      <div ng-repeat="item in details">
        <table class='table table-bordered'>
          <caption>{{item.table_name}}</caption>
          <thead>
            <tr>
              <th ng-repeat="head in item.headers">
                {{head}}
              </th>
            </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in item.data">
            <td ng-repeat="head in item.headers">
              {{row[head]}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div ng-show='upload'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2 class="page-header">
        <input class="form-control" ng-model="search.file" placeholder="search"/>
      </h2>
    </div>
    <div class='col-sm-9'>
      <h2 class="page-header"> 
        {{ snippet.file }}
        <a class="btn btn-success">Save</a>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-3'>
      <a class='btn btn-success' ng-click='upload = false'>Back</a>
      <hr />
      <div ng-repeat="item in snippets | filter:search">
        <a href="javascript:void(0)" 
          ng-click="loadExample(item.file)"
          role="button">{{item.file}}</a>
      </div>
    </div>
    <div class='col-sm-9'>
      <div ui-ace="{mode: 'json', useWrapMode: true}" ng-model='snippet'></div>
      <div class="alert alert-info">
        {{response | json}}
      </div>
    </div>
  </div>
</div>
