<div ng-hide='upload'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2 class="page-header">
        <input class="form-control" ng-model="resSearch.resourceType" placeholder="search"/>
      </h2>
    </div>
    <div class='col-sm-9'>
      <h2 class="page-header" ng-show='resource'>
        {{ resource.resourceType }}
        <a ng-click="deleteResource()" class="btn btn-danger">
          Delete
        </a>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-3'>
      <a class="btn btn-success" ng-click='upload = true'> Upload
      </a>
      <hr />
      <h3 loading-spinner='listLoading'></h3>
      <div ng-repeat="item in items | filter:resSearch | orderBy:'resourceType'">
        <a href="#demo/resources/{{item.resourceType}}/{{item.id}}.html" 
          ng-click="show(item)"
          role="button">{{item.resourceType}}</a>
      </div>
    </div>
    <div class='col-sm-9'>
      <h3 loading-spinner='resourceLoading'></h3>
      <div ng-show='resource'>
        <ol>
          <li ng-repeat="item in details">
            {{item.table_name}} <strong>({{item.path.join('.')}})</strong>
          </li>
        </ol>

        <div ng-repeat="item in details">
          <h3>{{item.table_name}} <strong>({{item.path.join('.')}})</strong></h3>
          <table class='table table-bordered'>
            <thead>
              <tr>
                <th ng-repeat="head in item.headers">
                  {{head}}
                </th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in item.data">
              <td ng-repeat="head in item.headers">
                {{row[head]}}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show='upload'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2 class="page-header">
        <input class="form-control" ng-model="search.file" placeholder="search"/>
      </h2>
    </div>
    <div class='col-sm-9'>
      <h2 class="page-header"> 
        {{ snippet.file }}
        <a class="btn btn-success" ng-click='save()'>Save</a>
      </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-3'>
      <a class='btn btn-success' ng-click='upload = false'>Back</a>
      <hr />
      <div ng-repeat="item in snippets | filter:search">
        <a href="javascript:void(0)" 
          ng-click="loadExample(item.file)"
          role="button">{{item.file}}</a>
      </div>
    </div>
    <div class='col-sm-9'>
      <h3 loading-spinner='snippetLoading'></h3>
      <textarea ui-codemirror="{mode: 'javascript', lineWrapping: true, lineNumbers: true}" ng-model='snippet.jsonString' style='height: 100%'></textarea>
      <div class="alert alert-info">
        {{response | json}}
      </div>
    </div>
  </div>
</div>
