<div class='row'>
  <div class='col-sm-3'>
    <h2 class="page-header">
      <input class="form-control" ng-model="search.title" placeholder="search"/>
    </h2>
  </div>
  <div class='col-sm-9'>
    <h2 class="page-header"> {{ resourceTitle }} </h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-3'>
    <h3 loading-spinner='listLoading'></h3>
    <div ng-repeat="item in items | filter:search">
      <a href="#demo/schema/{{item.title}}.html" 
        role="button">{{item.title}}</a>
    </div>
  </div>
  <div class='col-sm-9'>
    <div class='alert alert-warning'>
      <ul>
        <li><strong>Left list</strong> shows all available resources (for FHIR version 0.12).</li>
        <li>Use <strong>search</strong> area to find resource you want to investigate.</li>
        <li>Choose resource and below you can see <strong>list of tables</strong> that store selected resource.</li>
        <li>Beside each <strong>table name</strong> you can see <strong>full path</strong> for corresponding JSON property.</li>
        <li>Follow <strong>"Go"</strong> link to see resource table structure.</li>
        <li>Table description contains list of columns with corresponding data types.</li>
        <li>Among <strong>columns</strong> that store <strong>JSON data</strong> there are columns that store <strong>JSON structure</strong>.</li>
        <li><strong>Structure columns</strong> (marked with <strong>gray color</strong>) are inherited from <strong>base tables</strong> (resource, resource_component).</li>
        <li>To see how different <strong>JSON objects</strong> are stored in <strong>database</strong> please visit <a href="#demo/resources.html"
          class="text-success"><strong>Resource Data</strong></a>.</li>
      </ul>
    </div>
    <h3 loading-spinner='loadingDetails'></h3>
    <ol>
      <li ng-repeat="item in details">
        {{item.table_name}} <strong>({{item.path.join('.')}})</strong>
        <a ng-click="locateTable(item.table_name)" class="btn btn-xs btn-default">Go</a>
      </li>
    </ol>

    <div id="{{item.table_name}}" ng-repeat="item in details" class="alert alert-error">
      <table class='table table-bordered table-condensed' style="width: auto;">
        <caption style='padding: 5px 0; font-weight: bold; font-size: 150%;'>
          {{item.table_name}}
        </caption>
        <tr ng-repeat="column in item.columns">
          <td class="{{columnClass(column.column_name)}}">
            {{column.column_name}}
          </td>
          <td class="{{columnClass(column.column_name)}}">
            {{column.data_type}}
          </td>
        </tr>
        </tbody>
      </table>
      <a ng-click="locateTop()" class="btn btn-xs btn-default">Up</a>
    </div>
  </div>
</div>
