<div class='row'>
  <div class='col-sm-3'>
    <h2 class="page-header">
      <input class="form-control" ng-model="search.title" placeholder="search"/>
    </h2>
  </div>
  <div class='col-sm-9'>
    <h2 class="page-header"> {{ resourceTitle }} </h2>
  </div>
</div>
<div class='row'>
  <div class='col-sm-3'>
    <div ng-repeat="item in items | filter:search">
      <a href="#demo/schema/{{item.title}}.html" 
        role="button">{{item.title}}</a>
    </div>
  </div>
  <div class='col-sm-9'>
    <ol>
      <li ng-repeat="item in details">
        {{item.table_name}}
      </li>
    </ol>

    <div ng-repeat="item in details" class="alert alert-error">
      <table class='table table-bordered table-condensed' style="width: auto;">
        <caption style='padding: 5px 0; font-weight: bold; font-size: 150%;'>
          {{item.table_name}}
        </caption>
        <tr ng-repeat="column in item.columns">
          <td>
            {{column.column_name}}
          </td>
          <td>
            {{column.data_type}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
